In [24]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n original dataframe: \n",info)
print("\n square root: \n",info.apply(np.sqrt))
print("\n sum of each coulumn: \n",info.apply(np.sum,axis=0))
print("\n sum of each row: \n",info.apply(np.sum,axis=1))

 original dataframe:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 square root:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each coulumn:
 S    12
R    36
dtype: int64

 sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [26]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [32]:
import pandas as pd
import numpy as np
d2=pd.DataFrame([['Sai',88],['Poo',70]],columns=['EmpName','ID'])
print(d2)
d2['Age']=[20,18]
print("Adding new column \n",d2)
d2['Sex']=['Male','Male']
print("Adding new columns \n",d2)
a=d2.assign(Age=[20,18])

  EmpName  ID
0     Sai  88
1     Poo  70
Adding new column
   EmpName  ID  Age
0     Sai  88   20
1     Poo  70   18
Adding new columns
   EmpName  ID  Age   Sex
0     Sai  88   20  Male
1     Poo  70   18  Male

In [39]:
import pandas as pd
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
3 -0.508022  0.385342
2  0.601747  0.171615
0 -0.012870 -0.571342
4  1.278767  0.790155
1  1.131508  1.248281
       col3      col4
0 -0.012870 -0.571342
1  1.131508  1.248281
2  0.601747  0.171615
3 -0.508022  0.385342
4  1.278767  0.790155
       col3      col4
3 -0.508022  0.385342
0 -0.012870 -0.571342
2  0.601747  0.171615
1  1.131508  1.248281
4  1.278767  0.790155

In [6]:
import pandas as pd
import numpy as np
left=pd.DataFrame({'id':[1,2,3,4],'Name':['Sai','Poo','Saba','Yuvi'],'Sub':['sub1','sub2','sub4','sub3']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['Sanjay','Saran','Som','Ruba'],'Sub':['sub2','sub4','sub3','sub5']})
print(left)
print(right)
print(pd.merge(left,right,on="id"))

   id  Name   Sub
0   1   Sai  sub1
1   2   Poo  sub2
2   3  Saba  sub4
3   4  Yuvi  sub3
   id    Name   Sub
0   1  Sanjay  sub2
1   2   Saran  sub4
2   3     Som  sub3
3   4    Ruba  sub5
   id Name_x Sub_x  Name_y Sub_y
0   1    Sai  sub1  Sanjay  sub2
1   2    Poo  sub2   Saran  sub4
2   3   Saba  sub4     Som  sub3
3   4   Yuvi  sub3    Ruba  sub5