In [3]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [24]:
import pandas as pd
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\n data to series frame \n")  
print(result)
print("\n extracting one column\n")
print(result['emp'])
result['Age']=pd.Series([20,25,30,50])
print(result)
print("\n extracting the second row\n")
print(result.loc[1])

 data to series frame

      emp  ID
0     uma  10
1    siva  20
2  sindhu  30
3    ravi  40

 extracting one column

0       uma
1      siva
2    sindhu
3      ravi
Name: emp, dtype: object
      emp  ID  Age
0     uma  10   20
1    siva  20   25
2  sindhu  30   30
3    ravi  40   50

 extracting the second row

emp    siva
ID       20
Age      25
Name: 1, dtype: object

In [32]:
d2=pd.DataFrame([['Anu',20],['Janu',19]], columns=['emp','ID'])
print("\n adding new row values\n",pd.concat([result,d2]))

 adding new row values
       emp  ID   Age
0     uma  10  20.0
1    siva  20  25.0
2  sindhu  30  30.0
3    ravi  40  50.0
0     Anu  20   NaN
1    Janu  19   NaN